<div class="text-center fs-5 mt-5 mb-5">
    {{
        message
    }}
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                İsim
            </th>
            <th>
                Durum
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let operationClaim of operationClaims">
            <td>
                {{
                    operationClaim.name
                }}
            </td>

            <td>
                {{
                    operationClaim.isApproved === true ? 'aktif' : 'aktif değil'
                }}
            </td>

            <td >
                <button mat-button color="warn" (click)="delete(operationClaim)">Sil</button>
            </td>
        </tr>
    </tbody>
</table>