<div class="mt-lg-3 mt-md-3 mt-sm-2">
    <div class="card text-center">
        <div class="card-header">
          Lorem
        </div>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quisquam.</h5>
          <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iure quasi, inventore, autem debitis repudiandae accusamus quaerat asperiores facere omnis dolores quas tempore quisquam qui labore commodi consequatur eligendi amet?
          </p>
          
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <div class="card text-center mt-2">
        <div class="card-header">
          Lorem, ipsum.
        </div>
        <div class="card-body">
          <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero fuga, nihil praesentium accusamus eveniet laudantium.</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quia ipsum totam explicabo. Reprehenderit provident assumenda voluptatibus aperiam cum recusandae molestias doloremque officiis voluptas temporibus vero laborum, non modi quas?</p>
        
        </div>
        <div class="card-footer text-muted">
          4 days ago
        </div>
      </div>
</div>